<div class="modal fade" id="cdaModal" tabindex="-1" role="dialog" aria-labelledby="cdaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cdaModalLabel">{{ mp3_file.custom_file_name}}</h5>
        </div>
  
        <p class="px-3 pt-3">{{ mp3_file.text }}</p>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="cdaModalClose" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  