{% extends 'main.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12 mx-auto">

    <div class="content-section">
      <form class="container mx-auto pt-2 pb-3" action="" method="POST" role="form">
        {% csrf_token %}

        <fieldset class="form-group">
          <legend class="border-bottom mb-3">Reset Password</legend>
          
          {% for field in form %}
          <label for="{{ field.name }}" class="form-control-label mt-2 required">{{ field.label }}</label>
          {{ field }}
          {% endfor %}
        </fieldset>

          <!-- SUBMIT -->
          <div class="d-flex align-items-center mt-3">
            <input class="btn btn-primary p-2 flex-grow-1" id="submit" name="submit" type="submit" value="Change Password">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}